<%- include("partials/header"); -%>

  <h1>Home</h1>
  <p>
    <%= startingContent %>
  </p>


  <% posts.forEach(function(post){ %>

    <div>
      <h1>
        <%=post.title%>
      </h1>
    </div>

    <p>
      <%=post.content.substring(0, 100) + " ..." %>
        <a href="/posts/<%=post._id%>">Read More</a>
    </p>
    <form action="/delete" method="post">
      <input width="10px" class="hidden" type="hidden" name="postDel" value="<%= post._id %> ">
      <button type="submit" id="delButton" class="btn btn-primary">Delete</button>
      <!-- <input type="submit" name="postDel" value="<%= post._id %> "> -->
    </form>


    <% }) %>


      <%- include("partials/footer"); -%>